*{
	margin: 0;
	padding: 0;
}
.banner{
	background: url(../img/home-bg.jpg);
	position: relative;
}
.foot{
	background-image: url(../img/contact-bg.jpg);
}

html{
	font-size:10px;
}
@media only screen and (min-width: 371px){
    html {font-size: 13px !important;}
}
@media only screen and (min-width: 401px){
  html {font-size: 14px !important;}
}
@media only screen and (min-width: 428px){
  html {font-size: 15px !important;}
}
@media only screen and (min-width: 481px){
  html {font-size: 16px !important;}
}
@media only screen and (min-width: 569px){
  html {font-size: 17px !important;}
}

/*pc端*/
/*@media screen and (min-width:992px){
			html{
				font-size:10px;
			}
		}
		/*平板*/
		/*@media screen and (min-width:768px) and (max-width:991px){
			html{
				font-size:11px;
			}
		}*/
		/*手机*/
		/*@media screen and (max-width:767px){
			html{
				font-size:12px;
			}
		}*/
